@font-face {
  font-family: "FontAwesome";
  src: url("/assets/fonts/fontawesome-webfont.eot?v=4.1.0");
  src: url("/assets/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"), url("/assets/fonts/fontawesome-webfont.woff?v=4.1.0") format("woff"), url("/assets/fonts/fontawesome-webfont.ttf?v=4.1.0") format("truetype"), url("/assets/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*@font-face {
	font-family:FontAwesome;
	src:url("/assets/fonts/segoepr.ttf"),url("/assets/fonts/segoepr.eot"),url("/assets/fonts/segoepr.otf"),url("/assets/fonts/segoepr.svg"),url("/assets/fonts/segoepr.woff");
}*/
::selection {
	color:#000000;
	background-color:#1abc9c;	
}
::-moz-selection {
	color:#000000;
	background-color:#1abc9c;
}
* {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
body {
	background-color:#f6f7f9;
	overflow:auto;

}
h1,.post-main h2,h3 {
	font-weight:normal;
}
h1,h2,h3,h4,h5,h6 {
	letter-spacing:2px;
}
.post-main h1,h2,h3,h4 {
	margin-bottom:-4px;
	margin-top:4px;
	letter-spacing:2px;
}
h1 {
	font-size:1.6em;
}
h3 {
	font-size:18px;
	color:#1c87bf;
}
h4 {
	font-size:16px;
	color:#1c87bf;
}
h5,h6 {
	margin-bottom:-4px;
}
p {
	word-break:break-all;
}
img {
	/*text-align:center;*/
	max-width:92%;
	height:auto;
	margin-left:4%;
	margin-bottom:-5px;
	margin-top:5px;
	display: block;
	clear: both; 
	margin:auto; 
}
.post-main img {
	text-align:center;
	max-width:92%;
	height:auto;
	border-radius:2px;
	display: block;
	clear: both; 
	margin:auto; 
}
iframe {
	max-width:100%;
	height:auto;
}
strong,b {
	font-weight: bold;
}
table {
	border-collapse:collapse;
	font-size:13px;
	margin-bottom:5px;
	margin-top:-5px;
	margin-left:4%;
}
th {
	padding:8px 20px;
	border:1px solid #ddd;
}
td {
	padding:6px 20px;
	border:1px solid #ddd;
}
#blog {
	font-family: "FontAwesome","Microsoft YaHei",Arial,sans-serif;
}
a {
	color:#0090d3;
}
a:hover {
	color:#00D809;
}
a:link {
	text-decoration:none;
}

.sidebar {
	text-align:center;
	background:#31373d;
	width:25%;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
}
.profilepic {
	margin-top:12%;
}
.profilepic img {
	height:174px;
	width:200px;
	border:4px solid rgba(0,100,200,0.5);
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	transition:transform 0.8s ease-out,border-radius 0.5s ease-out;
	-webkit-transition:-webkit-transform 0.8s ease-out,border-radius 0.5s ease-out;
	-moz-transition:-moz-transform 0.8s ease-out,border-radius 0.5s ease-out;
	-o-transition:-moz-transform 0.8s ease-out,border-radius 0.5s ease-out;
}
.profilepic img:hover {
	transform:rotateZ(360deg);
	-webkit-transform:rotateZ(360deg);
	-moz-transform:rotateZ(360deg);
	-o-transform:rotateZ(360deg);
	border-radius:10%;
	-moz-border-radius:10%;
	-webkit-border-radius:10%;
	-o-border-radius:10%;
}

.title {
	font-family:segoepr;
	font-size:30px;
	margin-top:-3%;
}
.title a {
	color:#fff;
	font-weight:500;
	text-shadow:0 0 5px;
	transition:color 0.5s;
	-webkit-transition:color 0.5s;
	-moz-transition:color 0.5s;
	-o-transition:color 0.5s;
}
.title a:hover {
	color:yellow;
}
.sub-title {
	font-family:segoepr;
	color:lightgray;
	font-style:italic;
	text-shadow:0px 0px 2px;
	margin-top:-9%;
	margin-bottom:0;
	letter-spacing:0;
}
#nav {
	margin:3% 0 3% -10%;
}
#nav ul {
	list-style:none;
	display:block;
	text-align:left;
	font-size:15px;
	letter-spacing:3px;
}
#nav ul li {
	color:#fff;
	background:rgba(0,80,125,0.35);
	display:block;
	padding:10px 0 10px 35%;
	text-shadow:0 0 1px;
	width:100%;
	transition:background 0.5s,padding-left 0.5s;
	-webkit-transition:background 0.5s,padding-left 0.25s;
	-moz-transition:background 0.5s,padding-left 0.25s;
	-o-transition:background 0.5s,padding-left 0.25s;
}
#nav ul li:hover {
	text-shadow:0 0 1px;
	background:rgba(3,169,244,0.4);
	padding-left:38%;
	transition:padding-left 0.25s;
}
#nav ul li a {
	color:#fff;
	transition:color 0.3s;
	-webkit-transition:color 0.3s;
	-moz-transition:color 0.3s;
	-o-transition:color 0.3s;
}
#nav ul li a:hover {
	color:yellow;
}
#sub-nav a {
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	transition:0.3s;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	vertical-align:middle;
	display:inline-block;
	opacity:0.8;
	height:28px;
	width:28px;
	margin:0 7px 0 7px;
}
#sub-nav a.weibo {
	color:#fff;
	background:#55cff8;
	line-height:25px;
	padding-top:1px;
}
#sub-nav a.weibo:hover {
	color:#55cff8;
	background:#ffeb00;
	line-height:25px;
	padding-top:1px;
}
#sub-nav a.github {
	margin-bottom:4px;
	color:#dfdfdf;
}
#sub-nav a.github:hover {
	margin-bottom:4px;
	color:#ffeb00;
	opacity:0.9;
}
#sub-nav a.rss {
	color:#fff;
	background:#10B909;
	padding-left:2px;
	padding-top:3px;
}
#sub-nav a.rss:hover {
	color:#4999E2;
	background:#ef7522;
	padding-left:2px;
	padding-top:3px;
}
#license {
	margin-top:5%;
}
.main {
	margin-left:27%;
	margin-right:2%;
	margin-top:-5px;
	padding:0 10px 0 10px;
}
.posts {
	margin-bottom:10px;
}
.post-title {
	color:#0090d3;
	margin-left:-3px;
	letter-spacing:2px;
	word-break:break-all;
}
.post-title:hover {
	color:#00d809;
	margin-left:-3px;
	letter-spacing:2px;
	word-break:break-all;
}
.post-title a {
	color:#0090d3;
	transition:color 0.25s;
	-webkit-transition:color 0.25s;
	-moz-transition:color 0.25s;
	-o-transition:color 0.25s;
}
.post-title a:hover {
	color:#00BB2F;
}
.post-meta {
	color:#999;
	font-size:15px;
	margin-top:-5px;
	margin-bottom:5px;
	letter-spacing:1px;
}
.space {
	margin:0 10px;
}
.post-category {
	color:#00bb2f;
	text-transform:Capitalize;
}
.post-category:hover {
	color:#0090d3;
}
.readall {
	margin-top:-5px;
}
#post-readall {
	color:#fff;
	background:#4d85d1;
	font-size:13px;
	margin-left:5px;
	padding:2px 2px;
	border-radius:2px;
	border-top:5px;
	border-bottom:5px;
	letter-spacing:2px;
	transition:background 0.25s;
	-o-transition:background 0.25s;
	-webkit-transition:background 0.25s;
	-moz-transition:background 0.25s;
}
#post-readall:hover {
	background:#00C04D;
}
.pagination {
	color:#ccc;
	text-align:center;
}
.pagination-item {
	background:#fff;
	padding:2px 2px;
	border:1px solid #ddd;
	border-radius:2px;
}
span.pagination-item {
	cursor:not-allowed;
}
a.pagination-item {
	transition:background 0.25s;
	-o-transition:background 0.25s;
	-webkit-transition:background 0.25s;
	-moz-transition:background 0.25s;
}
a.pagination-item:hover {
	color:white;
	background:#00BBEE;
	border:1px solid #00BBEE;
}
.pagination-item:first-child {
	float:left;
}
.pagination-item:last-child {
	float:right;
}
.share {
	margin:25px 0 25px 1px;
}
footer {
	font-size:14px;
	line-height:1.5;
	text-align:center;
	margin-top:7.5em;
}
.comments {
	margin:95px 0 -120px 0;
}
.ds-powered-by {
	font-size:0px !important;
}
#ds-reset .ds-avatar img {
	transition:transform 0.7s ease-out;
	-webkit-transition:-webkit-transform 0.7s ease-out;
	-moz-transition:-moz-transform 0.7s ease-out;
	-o-transition:-moz-transform 0.7s ease-out;
}
#ds-reset .ds-avatar img:hover {
	transform:rotateZ(360deg);
	-webkit-transform:rotateZ(360deg);
	-moz-transform:rotateZ(360deg);
	-o-transform:rotateZ(360deg);
}
.bdshare_dialog_bottom {
	display:none;
}
.post-main {
	color:#000000;
	font-size:16px;
	letter-spacing:1px;
	line-height:1.8;
	margin-top:-5px;
	margin-bottom:5px;
}
.post-main a strong {
	font-weight: bold;
}
.post-main a strong:hover {
	font-weight: bold;
}
.post-main a {
	color:#f47920;
	margin:0 2px;
	padding:2px;
	border-bottom:2px solid #e2e2e2;
	padding-bottom:0;
}
.post-main a:hover {
	color:#00bb2f;
}
a.fancybox {
	margin:0;
	padding:0;
	border-bottom:0;
	padding-bottom:0;
}
hr {
	height:4px;
	padding:0;
	margin-top:5px;
	margin-bottom:-5px;
	background-color:#EBEBEB;
	border:0 none;
}
sup {
	padding:0 2px 0 1px;
}
.footnotes {
	border-top:2px solid #f0f0f0;
	padding-top:15px;
	font-size:15px;
}
.footnotes ol li {
	font-size:13px;
	line-height:1;
}
.footnotes p {
	color:#747f8c;
	font-size:13px;
	line-height:1;
}
.footnotes p a {
	vertical-align:super;
	padding:0;
}

blockquote {
	font-family: "FontAwesome","Microsoft YaHei",Arial,sans-serif;
	border-left:4px solid #DDDDDD;
	color:#843900;
	margin:auto;
	padding-left:10px;
	word-break:break-all;
}
code {
	font-family: Consolas, Arial,sans-serif;
	font-size:15px;
	background:#d3d7d4;
	color:#000000;
	padding:0 4px;
	border-radius:4px;
	letter-spacing:1px;
	border-bottom:0;
	word-break:initial;
}
pre code {
	font-family: Consolas, Arial,sans-serif;
	font-size:13px;
	margin-left:4%;
	background:#fff;
	background:#d3d7d4;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	line-height:1.2;
	display:block;
	padding:10px 10px 10px 10px;
	overflow-x:auto;
	word-wrap:normal;
	white-space:pre;
	letter-spacing:0.5px;
	tab-size:4;
	-moz-tab-size:4;
	-o-tab-size:4;
}

.hll{background-color:#ffffcc}.c{color:#888888}.err{color:#a61717;background-color:#e3d2d2}.k{color:#008800;font-weight:bold}.cm{color:#888888}.cp{color:#cc0000;font-weight:bold}.c1{color:#888888}.cs{color:#cc0000;font-weight:bold}.gd{color:#000000;background-color:#ffdddd}.ge{font-style:italic}.gr{color:#aa0000}.gh{color:#303030}.gi{color:#000000;background-color:#ddffdd}.go{color:#888888}.gp{color:#555555}.gs{font-weight:bold}.gu{color:#606060}.gt{color:#aa0000}.kc{color:#008800;font-weight:bold}.kd{color:#008800;font-weight:bold}.kn{color:#008800;font-weight:bold}.kp{color:#008800}.kr{color:#008800;font-weight:bold}.kt{color:#888888;font-weight:bold}.m{color:#0000DD;font-weight:bold}.s{color:#dd2200}.na{color:#336699}.nb{color:#003388}.nc{color:#bb0066;font-weight:bold}.no{color:#003366;font-weight:bold}.nd{color:#555555}.ne{color:#bb0066;font-weight:bold}.nf{color:#0066bb;font-weight:bold}.nl{color:#336699;font-style:italic}.nn{color:#bb0066;font-weight:bold}.py{color:#336699;font-weight:bold}.nt{color:#bb0066;font-weight:bold}.nv{color:#336699}.ow{color:#008800}.w{color:#bbbbbb}.mf{color:#000000}.mh{color:#000000}.mi{color:#000000}.mo{color:#000000}.sb{color:#dd2200}.sc{color:#dd2200}.sd{color:#dd2200}.s2{color:#dd2200}.se{color:#0044dd}.sh{color:#dd2200}.si{color:#3333bb}.sx{color:#22bb22;background-color:#f0fff0}.sr{color:#008800;background-color:#fff0ff}.s1{color:#dd2200}.ss{color:#aa6600}.bp{color:#003388}.vc{color:#336699}.vg{color:#dd7700}.vi{color:#3333bb}.il{color:#0000DD;font-weight:bold}

@media (max-width:1500px) {
	#nav {
		margin:7% 0 7% -5%;
	}
}
@media (max-width:1300px) {
	.profilepic img {
		height:140px;
		width:140px;
	}
	.title {
		font-size:35px;
	}
	.sub-title {
		font-size:22px;
	}
	#nav {
		margin:7% 0 7% -20%;
	}
}
@media (max-width:1160px) {
	.profilepic img {
		height:130px;
		width:130px;
	}
	.title {
		font-size:35px;
	}
	.sub-title {
		font-size:22px;
	}
	#nav {
		margin:7% 0 7% -25%;
	}
	.pagination-item {
		padding:8px 40px;
	}
	video {
		width:100%;
		max-width:100%;
		height:auto;
	}
}
@media (max-width:1085px) {
	.profilepic img {
		height:120px;
		width:120px;
	}
	.title {
		font-size:30px;
	}
	.sub-title {
		font-size:18px;
	}
	#nav {
		margin:6% 0 6% -28%;
	}
	.pagination-item {
		padding:8px 30px;
	}
}
@media (max-width:975px) {
	.profilepic img {
		height:110px;
		width:110px;
	}
	.title {
		font-size:28px;
	}
	.sub-title {
		font-size:16px;
	}
	#nav {
		margin:6% 0 6% -33%;
	}
	#nav ul {
		font-size:17px;
	}
	#nav ul li {
		padding:8px 0 8px 35%;
	}
	.pagination-item {
		padding:8px 10px;
	}
}

@media (max-width:650px) {
	.pagination-item {
		width:100%;
		padding:14px 0;
		border-radius:0;
	}
	a.pagination-item {
		transition:initial;
		-o-transition:initial;
		-webkit-transition:initial;
		-moz-transition:initial;
	}
	.pagination-item:first-child {
		margin-bottom:-1px;
		border-top-left-radius:5px;
		border-top-right-radius:5px;
	}
	.pagination-item:last-child {
		margin-top:-1px;
		border-bottom-left-radius:5px;
		border-bottom-right-radius:5px;
	}
	.share {
		margin:-10px 0 10px 1px;
	}
	.comments {
		margin:120px 0 -165px 0;
	}
	footer {
		margin-top:9.5em;
	}
}
@media (max-width:440px) {
	#nav ul {
		font-size:17px;
		margin-left:0;
	}
}
