---
layout: default
title: Personal Knowledge Management —— chrispher guan
---
<h1 class="page-header">
  chrispher's Blog
  <small>
    walking on my way
  </small>
</h1>
{% for post in paginator.posts %}
<h2>
  <a href="{{ post.url }}">
    {{ post.title }}
  </a> 
  <div class="post-date">
    <span class="glyphicon glyphicon-time"></span>
    {{ post.date | date_to_string }}
  </div>
</h2>
<hr>
{{ post.content }}
<hr>
{% endfor %}
<!-- Pager -->
<ul class="pager">
  {% if paginator.previous_page %} {% if paginator.previous_page == 1 %}
  <li class="previous">
    <a href="{{ site.url }}/">
      &larr; Older
    </a>
  </li>
  {% else %}
  <li class="previous">
    <a href="{{ site.url }}/page{{ paginator.previous_page }}">
      &larr; Older
    </a>
  </li>
  {% endif %} {% endif %} {% if paginator.next_page %}
  <li class="next">
    <a href="{{ site.url }}/page{{ paginator.next_page }}">
      Newer &rarr;
    </a>
  </li>
  {% endif %}
</ul>