<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#pithy-navbar" aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ site.blog.url}}">Chrispher</a>
        </div>

        <div class="collapse navbar-collapse" id="pithy-navbar">
            <ul class="nav navbar-nav">
                <li><a href="{{ site.blog.url}}">首页</a></li>
                <li><a href="{{ site.blog.url}}/page/about.html">关于</a></li>
                <li><a href="{{ site.blog.url}}/page/message.html">留言板</a></li>
                <li><a href="{{ site.blog.url}}/page/timing.html">时间轴</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
