<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#pithy-navbar" aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ site.blog.url}}">Chrispher</a>
        </div>

        <div class="collapse navbar-collapse" id="pithy-navbar">
            <ul class="nav navbar-nav">
                <li><a href="{{ site.blog.url}}">首页</a></li>
                <li><a href="{{ site.blog.url}}/page/about.html">关于</a></li>
                <li><a href="{{ site.blog.url}}/page/message.html">留言板</a></li>
                <li><a href="{{ site.blog.url}}/page/timing.html">时间轴</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">笔记专题<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="download">
                        <li><a href="{{ site.blog.url }}/category/#prml">PRML</a></li>
                        <li><a href="https://raw.githubusercontent.com/chrispher/chrispher.github.com/master/_drafts/machine_learning_notes_ng.docx">Ng-机器学习</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">课程图谱<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="download">
                        <li><a href="/page/graph/big_data_with_spark_python.html">pySpark 公开课</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
