<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#pithy-navbar" aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ site.blog.url}}">Chrispher</a>
        </div>

        <div class="collapse navbar-collapse" id="pithy-navbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ site.blog.url }}">首页</a></li>
                <li class="active"><a href="/pages/about.html">About Me</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
