<!--官方JS引入-->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/assets/js/search.js"></script>
<script type="text/javascript"></script>
<!-- mathjax -->
<script src="http://cdn.bootcss.com/mathjax/2.4.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script>MathJax.Hub.Config({"HTML-CSS": {
            linebreaks: {automatic: true},
            scale: 88},
            tex2jax:{inlineMath: [['\[','\]']],displayMath: [['$$','$$']]}});
</script>
<script type="text/javascript">
  $(function () {
    // focus on search input with '/' key.
    $("body").on("keyup", function (e) {
        e.stopPropagation();
        var slashKeys = [47, 111, 191];
        if (slashKeys.some(function (value) { return e.keyCode == value })) {
            $("#search").focus();
        }
    });    
});
</script>
  
{% for script in page.scripts %}
  <script type="text/javascript" src="{{'/assets/script/' | append: script | prepend: site.blog.url }}"></script>
{% endfor %}
