<nav>
  <h1>Data Science</h1>
  <a href="/">
    <img src="/images/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">{{ site.theme.name }}</a>.</h2>
  <hr/>
  <ul>
  <p>Data analysis and mining are my passion and dream. I have learned the data science including statistics, machine learning, python, R in my spare time. And I never give up and of course learn them well.</p>
  <p>
     I am on the road to be a excellent data scientist, especially apply the data to solve the real problems well, such as face recognition, customer classification,value forecasting and so on .
  </p>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
</nav>
