<nav>
  <h2>Data Science</h2>
  <a href="/">
    <img src="/images/logo.bmp" id="logo" alt="Blog logo"/>
  </a>
  <h5>I'm <a href="/">{{ site.theme.name }}</a>.</h5>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>

  <form class="navbar-search pull-right" action="search.html">
    <input type="text" class="search-query" placeholder="Search...">
  </form>

  <head>
    <script src="/assets/js/jquery-1.6.1.min.js"></script>
    <script src="/assets/js/jquery-tapir.min.js"></script>
  </head>

  <div class="row">
    <div class="col-lg-6">
      <ul class="list-unstyled">
        <li>
          <a href="/categories.html#Application">
            Application
          </a>
        </li>
        <li>
          <a href="/categories.html#Resource">
            Resource
          </a>
        </li>
        <li>
          <a href="/categories.html#Basic Courses">
            Basic Courses
          </a>
        </li>
        <li>
          <a href="/categories.html#Data Analysis">
            Data Analysis
          </a>
        </li>
        <li>
          <a href="/categories.html#Machine Learning">
            Machine Learning
          </a>
        </li>
        <li>
          <a href="/categories.html#Python">
            Python
          </a>
        </li>
      </ul>
    </div>
  </div>
// <!--   <div class="well">
//     <h4>
//       站内Google
//     </h4>
//     <form action="https://www.google.com/search" method="get">
//       <div class="input-group">
//         <input type="text" name="q" class="form-control">
//         <input type="hidden" name="ie" value="UTF-8" />
//         <input type="hidden" name="sitesearch" value="chrispher.github.io" />
//       </div>
//     </form>
//   </div> -->
</nav>

