---
layout: default
title: Category
permalink: /category/
---
<div class="col-md-9 col-content">
    <div class="panel-heading title">
        分类浏览
    </div>
    {% for category in site.categories%}
    <section class="category gallery" id="{{category | first}}">
    <div class="panel-heading">{{category.first}}</div>
      {% for post in category.last %}
            {% include gallery.html%}
      {% endfor %}
    </section>
    {% endfor %}

</div>
<div class="col-md-3 col-sidebar">
    {% include categories.html %}
</div>
