---
layout: default
title: Category
permalink: /category/
---
<div class="col-md-9 col-content">
    <br/>
    <br/>
    {% for category in site.categories%}
      <div class="panel-heading title well">
         {{ category.first }} &nbsp;<span class="badge">[{{ category.last.size }}]</span>
      </div>
      <section class="category gallery" id="{{category | first}}">
        {% for post in category.last %}
            {% include gallery.html%}
        {% endfor %}
      </section>
    {% endfor %}

</div>
<div class="col-md-3 col-sidebar" style="position: fixed; right: 5%;">
    {% include categories.html %}
</div>
