---
layout: blog
---

<link rel="stylesheet" href="/res/css/notes.css">

<div class="gallery">
<h1>PRML读书笔记</h1>
{% for post in site.posts reverse %}
{% if post.tags contains "PRML"%}
  <div class="item">
    <a class="item-inner" href="{{ post.url }}">      
      <div class="item-title">{{ post.title }}</div>
      <div class="item-time">{{ post.date | date: "%Y" }}年{{ post.date | date: "%m" }}月{{ post.date | date: "%d" }}日</div>
      <div class="post-content">{{ post.description}}</div>
    </a>
  </div>
{% endif %}
{% endfor %}
</div>